.chat-main
  .chat-main__group-view
    /上部分の実装
    .group-info
      .group-info__name
        = @group.name
      .group-info__members
        - @group.users.each do |user|
          = user.name
    = link_to "Edit", edit_group_path(@group), class: "edit-btn"
  
  .chat-main__message-list
    /真ん中部分の実装
    = render @messages

    /下部分の実装
  = form_for [@group, @message], html: {class: "chat-main__message-form"} do |f|
    .form-input
      = f.text_field :content, placeholder: "type a message", class: "form-input__text"
      = f.label :image, class: "form-input__image" do
        = icon("far", "image", class: "form-input__image__icon")
        = f.file_field :image, class: "form-input__image__label"
    = f.submit "Send", class: "form-input__btn"

