.side-bar
  .side-bar__user-name
    / 上部分の実装
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__icons--white" do
          %i.far.fa-edit
          %span<>
        = link_to edit_user_path(current_user), class: "top-items__icons--white" do
          %i.fas.fa-cog

  .side-bar__group-list
    / 下部分の実装
    - current_user.groups.includes(:messages).each do |group|
      = link_to group_messages_path(group), class: "body-items" do
        .body-items__group-name
          = group.name
        .body-items__group-message
          = group.show_last_message